<html>
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script>
      function handleBuy(event) {
        event.preventDefault();
        console.log(event);
      }
    </script>
</head>
<body>
<div class="fpy-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 flex">
  <div class="flex-1 p-4">
    <div class="grid gap-4">
      <div>
          <img class="h-auto max-w-full rounded-lg" src="{{product.image_url}}" alt="">
      </div>
      <div class="grid grid-cols-5 gap-4">
          <div>
              <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
          </div>
          <div>
              <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
          </div>
          <div>
              <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
          </div>
          <div>
              <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
          </div>
          <div>
              <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" alt="">
          </div>
      </div>
      
    </div>
  </div>
  <div  class="flex-1 p-4">
    <h1>{{ product.name}}</h1>
    <section>
      <h2>$ {{product.price}}</h2>
      <p>Stock: {{product.stock}}</p>
      <span><button id="add-to-cart-button" onclick="addToCart()">Add to cart</button></span>
      <span><button id="buy-now-button"onclick="handleBuy()"> Buy Now</button></span>
    </section>
  </div>
</div>
</body>
</html>