<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
<body>
  <div data-name="Active Items" class="a-section a-spacing-mini sc-list-body sc-java-remote-feature">
    {% for product_id, product in cart.items %}
    <div class="sc-list-spinner">
      {{ product_id }}
     
      Name: - {{ product.name }}
      item price: {{ product.price }}
      quantity: product.quantity
    </div>
    
    {% endfor %}

  </div>
</body>

</html>