<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
<body>
  <h1 class="flex items-center">Shopping Cart</h1>
  <div class="relative py-2 bg-gray-100 flex items-center">
    
    <div class="t-0 absolute left-3">
      <p class="flex h-2 w-2 items-center justify-center rounded-full bg-red-500 p-3 text-xs text-green">{{count}}</p>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="file: mt-4 h-6 w-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
    </svg>
  </div>
 
  <div class="max-w-xl mx-auto py-12 divide-y md:max-w-4xl">
    <form method="POST" id="order_form">
      <div>
        <button type="submit" class="btn-primary js-checkout">Checkout</button>
      </div>
      <div class="mt-8 max-w-md">
        {% csrf_token %}
      </div>
      <div id="nestedArrayContainer" data-name="Cart Items" class="a-section a-spacing-mini sc-list-body sc-java-remote-feature">
        {% for product_id, product in cart.items %}
        <div class="sc-list-spinner">
          <div>
            <img class="h-auto max-w-full rounded-lg" src="{{ product.image_url }}"
              alt="">
          </div>
          <div>
            <input type="hidden" name="cart_items-{{forloop.counter0}}-name" value="{{product.name}}" />
            Name: - {{ product.name }}
            <input type="hidden" name="cart_items-{{forloop.counter0}}-quantity" value="{{product.quantity}}" />
            quantity: {{ product.quantity }}
           
            <input type="hidden" name="cart_items-{{forloop.counter0}}-product_id" value="{{product_id}}" />
            Unit price: {{ product.price }}
            
            {% widthratio product.price 1 product.quantity %}
             
            
          </div>
        </div>
        {% endfor %}
      </div>
    </form>
  </div>
  
  <script src="{% static 'js/order.js' %}"></script>
</body>

</html>